@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSans Condensed';
  src: url('./fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Condensed';
  src: url('./fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*{
  font-family: 'OpenSans Condensed', sans-serif;
}
